a {
	cursor: pointer;
}
button.simple {
	border: none;
	background-color: inherit;
}

body {
	border: 1px solid;
	font-family: Charter;
	background-color: whitesmoke;
	color: #333;
	margin: 0;
	padding: 0;
	display: flex;
	flex-direction: column;
	height: 100vh;
}

body:not(.actif) {
	opacity: 0.5;
}

body.actif {
	opacity: 1;
}

body[data-mode="mode-normal"] {
	background-color: white;
}
body[data-mode="mode-edit"] {
	background-color: white;
}
body[data-mode="mode-normal"] div#current-mode {
	background-color: lightgreen;
}
body[data-mode="mode-edit"] div#current-mode {
	background-color: lightsalmon;
}
footer div#current-mode {
	display: block;
	width: calc(100% - 16px);
	font-size: 6pt;
	padding: 0 8px;
}

header {
	position: sticky;
	top: 0;
	height: 60px;
	background-color: #CCCCCC;
	border-bottom: 1px solid var(--vscode-sideBar-border);
	padding: 10px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

header h2 {
	position: absolute;
	top: 27px;
	left: 4px;
	margin: 0;
	font-size: 50px;
	font-variant: small-caps;
	color: #339ecd;
	opacity: 0.3;
	font-style: italic;
	z-index: -1;
}

#search-bar {
	display: flex;
	flex-direction: column;
	flex: 1;
	margin-left: 20px;
}

#search-input {
	background: #FEFEFE;
	color: #333;
	border: 1px solid var(--vscode-input-border);
	padding: 4px 8px;
	font-size: 11px;
}

#search-input:before {
	content: '🔍';
}

#search-by-div {
	font-size: 0.8em;
}

#search-by-div select {
	font-size: inherit;
	font-family: inherit;
}

.tips {
	font-size: 9px;
	color: inherit;
	margin-top: 2px;
	opacity: 0.5;
}

.tips:hover {
	opacity: 1;
}

main#items {
	flex: 1;
	overflow-y: auto;
	overflow-x: hidden;
	padding: 10px;
	/* Force scroll in VSCode webview */
	max-height: calc(100vh - 120px);
	position: relative;
}

#edit-form {
	padding: 10px;
	background-color: inherit;
	border-top: 1px solid var(--vscode-sideBar-border);
}

.hidden {
	display: none;
}

footer {
	position: sticky;
	bottom: 0;
	background-color: #CCC;
	border-top: 1px solid var(--vscode-statusBar-border);
	display: block;
	width: 100%;
	justify-content: space-between;
	align-items: center;
}

#panel-console {
	display: block;
	width: calc(100% - 16px);
	background: black;
	color: #EFEFEF;
	border: 1px solid var(--vscode-input-border);
	padding: 4px 8px;
	font-size: 11px;
	flex: 1;
	margin-right: 10px;
	font-family: menlo;
}

#main-tools-container {
	display: flex;
	gap: 5px;
}

/* Les éléments principaux de chaque panneau, c'est-à-dire la définition dans le
dictionnaire, le film dans les films et l'exemple dans les exemples */

main#items .item {
	border: 2px solid #DDD;
	border-radius: 0.5em;
	margin-bottom: 1em;
	padding: 0.5em 1em;
}

main#items .item.selected {
	border-color: blue;
}

/* L'élément principal, dans l'élément, i.e. l'entrée pour le dictionnaire,
le titre affiché pour le film, l'entrée pour l'exemple (l'index ? aucun ?) */
main#items>.item .main-prop {
	font-weight: bold;
}


/*
FORMULAIRE

*/
form.item-form {
	padding: 1em 10px;
	border: 2px solid cadetblue;
	background-color: cadetblue;
}
form.item-form input.main {
	font-size: 15pt!important;
}

form.item-form > div {
	display: flex;
	padding-top: 2px;
	vertical-align: top;
}
form.item-form > div > label {
	width: 70px;
	flex: 0 0 auto;
	font-family: 'Arial Narrow', Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 10.5pt;
}
form.item-form > div > label + * {
	flex: 1 1 auto;
}

form.item-form input,
form.item-form textarea,
form.item-form select:not(.auto) {
	width: 100%;
	font-family: inherit;
	font-size: inherit;
}
form.item-form div.buttons {
	display:flex; 
	justify-content:flex-end;
	margin-top: 1em;
}
form.item-form div.buttons button {
	margin-left: 12px;
}